* {
    margin: 0;
    padding: 0;
}
button {
    margin: 5px;
    font-size: 16px;
}
.puzzle {
    min-width:350px;
    max-width:500px;
    margin:50px auto;
    border:1px solid #999;
}
.btn button {
    padding: 5px;
}
.view button {
    width: 30px;
    height: 30px;
}
.text { 
    padding: 10px 5px 5px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    line-height:1;
    background:#e5e5e5;
}
.check {
    display:block;
    padding : 10px 5px;
    background : #e5e5e5;
}
.sec {
    padding: 10px 5px;
}
.progress {
    padding: 5px;
    letter-spacing: 2px;
}